*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}

body {
    font-family: sans-serif; 
}
.head{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.header{
    /* height: 10vh; */
    width: 100%;
    padding: 1% 0%;
    border: 1px solid rgb(199, 198, 198);
    display: flex;
    position: sticky;
}
.header1{
    height: 100%;
    width: 16%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2{
    /* height: 100%; */
    width: 34%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.header3{
    /* height: 100%; */
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
}
.input-box{
    /* height: 70%; */
    width: 90%;
    border: 0.01px solid rgb(170, 167, 167);
    border-radius: 5px;
    display: flex;
}
.inp1{
    /* height: 100%; */
    padding: 2%;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp2{
    /* height: 100%; */
    padding: 1%;
    width: 90%;
    /* border: 1px solid black; */
}
.inner-header3-box{
    /* height: 100%; */
    padding: 1%;
    width: 93%;
    /* border: 1px solid black; */
    display: flex;
}
.header3-L{
    /* height: 100%; */
    width: 70%;
    /* border: 1px solid black; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    justify-content: space-evenly;
    letter-spacing: 1px;
}
.header3-R{
    /* height: 100%; */
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
}
.header3-L hr{
    height: 60%;
    /* width: 5px; */
}
.header3-R-L{
    /* height: 100%; */
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.85rem;
}
.header3-R-R{
    /* height: 100%; */
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.85rem;
}
.HR{
    height: 1vh;
    width: 100%;
    /* border: 1px solid black; */
}
.divisions{
    /* height: 8vh; */
    padding: 1%;
    width: 100%;
    /* border: 0.5px solid rgb(170, 167, 167); */
    list-style: none;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    letter-spacing: 1px;
    position: sticky;
}
.divisions li a{
    color: black;
    text-decoration: none;
}
.header3-L div i{
    margin-right:10px;
}
.header3-L div a{
    text-decoration: none;
    color: black;
}
.header3-R-R a{
    text-decoration: none;
    color: black;
}
.lowest-price-box{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    /* border: 1px solid red; */
}
.LP-inner-box{
    height: 55vh;
    width: 80%;
    /* border: 2px solid black; */
    display: flex;
}
.LP-left{
    height: 100%;
    width: 51%;
    /* border: 2px solid black; */
    background-color: rgb(248, 248, 255);
    
}
.LP-right{
    /* height: 100%; */
    width: 49%;
    /* border: 2px solid black; */
}
.LP-left-box{
    height: ;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8% 8%;
}
.LP-left1{
    /* border: 2px solid black; */
    /* padding: 17%; */
    margin-bottom: 6%;
    font-family: sans-serif;
    font-size: 2.2rem;
    letter-spacing: 1%;
    color: rgb(63, 62, 62);
}
.LP-left2{
    /* border: 2px solid black; */
    /* padding: 6%; */
    margin-bottom: 6%;
    display: flex;
    background-color: white;
    border-radius: 5px;
}
.LP-left3{
    /* border: 2px solid black; */
    /* padding: 3% 0%; */
}
/* .LP-left2-1 span{
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1%;
} */
.LP-left2-1{
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    padding: 2%;
}
.LP-left3 a{
    width: 70%;
    /* border: 2px solid black; */
    text-decoration: none;
    padding: 2% 0%;
    font-family: sans-serif;
    /* padding: 2%; */
}
.download{
    width: 70%;
    /* padding: 5%; */
    border: 1px solid rgb(159, 32, 137);
    display: flex;
    border-radius: 5px;
}
.download-L{
    width: 20%;
    /* border: 1px solid blue; */
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 32, 137);
}
.download-R{
    width: 80%;
    /* border: 1px solid blue; */
    padding: 4% 0%;
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    background-color: rgb(159, 32, 137);
}
.top-category{
    padding: 1%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: sans-serif;
    font-size: 1.7rem;
    flex-direction: row; */
}
.top-cate-inner-box{
    padding: 1%;
    /* border: 1px solid red; */
    width: 79%; 
    display: flex; 
    justify-content: space-between;
}
.TC-box1{
    width: 23%;
    /* border: 1px solid black; */
    padding: 2%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.TC-box2{
    width: 50%;
    /* border: 1px solid black; */
    padding: 1% 0%;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
    letter-spacing: 1%;
}
.TC-box1 hr{
    width: 100%;
    height: 1%;
}
.be-fashion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.be-fashion-inner-box{
    height: 27rem;
    width: 75%;
    /* border: 1px solid black; */
    /* padding: 8%; */
    background-image: url(Be-fashion.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 3%;
    padding-right: 2%;
    padding-left: 0.5%;
}
.womens-store{
    /* border: 1px solid red; */
}
.mens-store{
    /* border: 1px solid red; */
}
.kids-store{
    /* border: 1px solid red; */
}
.essentials-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}
.essential-inner-box{
    height: 27rem;
    width: 75%;
    background-image: url(https://images.meesho.com/images/marketing/1709187868590_1200.webp);
    background-position: center;
    background-size: cover;
    /* padding-top: 5%; */
    display: flex;
}
.ess-L{
    width: 35%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.ess-R{
    width: 58%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
.view-all{
    margin-top: 7%;
}
.ess-R-imgs{
    width: 32%;
    /* border: 1px solid purple; */
}
.img-content-box{
    /* border: 1px solid black; */
    margin: 30% 0%;
}
.ess-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ess-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ess-img img{
    width: 100%;
    height: 17rem;
    /* border: 1px solid purple; */
}
.ess-content img{
    height: 3.2rem;
    width: 100%;
}
.new-style-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
}
.new-style-inner-box{
    height: 27rem;
    width: 75%;
    /* border: 1px solid black; */
    background-image: url(	https://images.meesho.com/images/marketing/1709188185381_1200.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.reseller-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
.reseller-inner-box{
    height: 27rem;
    width: 75%;
    background-image: url(https://images.meesho.com/images/pow/downloadBannerDesktop_1050.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.advertising-content{
    /* border: 1px solid black; */
    /* height: 10rem; */
    width: 55%;
    /* padding: 2% 0%; */
    justify-content: space-between;
    position: absolute;
    right: 0px;
    margin-top: 6%;
    margin-right: 5%;
}
.ad2{
    margin-top: 4%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
}
.ad1 h2 {
    color: rgb(85, 133, 248);
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: end;
}
.ad2 h1 {
    font-family: sans-serif;
    color: rgb(151, 43, 151);
    letter-spacing: 10%;
    display: flex;
    justify-content: end;
    text-align: right;
}

.button-box{
    display: flex;
    justify-content: end;
}
.buttn-border{
    /* border: 1px solid black; */
    width: 60%;
    /* padding: 5%; */
    display: flex;
    justify-content: space-between;
}
.google-play{
    height: 2.3rem;
    width: 48%;
    /* border: 1px solid black; */
}
.app-store{
    height: 2.3rem;
    width: 48%;
    /* border: 1px solid black; */
}
.google-play img{
    height: 2.3rem;
    width: 100%;
}
.app-store img{
    height: 2.3rem;
    width: 100%;
}
.register-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
.register-inner-box{
    height: 14rem;
    width: 75%;
    /* border: 1px solid black; */
    background-image: url(https://images.meesho.com/images/pow/supplyBannerDesktop_1106.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.register-content-box{
    border: 1px solid white;
    width: 100%;
    padding: 5%;
    /* height: 13rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reg-content {
    margin-bottom: 20px;
}

.reg-content-1 b{
    color: white;
    font-family: sans-serif; 
    font-size: 1.5rem; 
    letter-spacing: 1%;
}
.reg-content-2 {
    color: white;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1%;
    margin-bottom: 30px;
} 

.reg-content-3{
    /* border: 1px solid white; */
    display: flex;
    width: 80%;
    margin-bottom: 30px;
    
}
.reg-div1 {
    width: 100%;
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    border-right: 1px solid white;
    margin-right: 20px;
}

.reg-div1:last-child {
    border-right: none;
}

.reg-div-L{
    width: 10%;
    /* border: 1px solid blue; */
    /* padding: 4%; */
}
.reg-div-R{
    width: 90%;
    /* border: 1px solid pink; */
    /* padding: 4%; */
    color: white;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    /* letter-spacing: 2%; */
}
/* .reg-content-4{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.buttn-box{
    height: 2.3rem;
    width: 20%;
    border: 1px solid white;
    background-color: white;
    color: rgb(151, 43, 151);
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    /* text-decoration: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-content-box a{
    text-decoration: none;
    /* justify-content: space-between; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.product-heading{
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 2.5%;
}
.main-product-box{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-between; */
}
.filter-box{
    width: 22%;
    /* border: 1px solid black; */
    /* padding: 5%; */
    margin-left: 3%;
}
.products-box{
    width: 72%;
    /* border: 1px solid black; */
    /* padding: 5%; */
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.single-product{
    border: 1px solid rgb(216, 212, 212);
    height: 20rem;
    width: 23%;
    margin: 0px 0px 15px 0px;
    border-radius: 10px;
}
.top-image{
    height: 11rem;
    /* border: 1px solid red; */
    position: relative;
}
.bottom-content{
    height: 9rem;
    /* border: 1px solid blue; */
}
.pieces{
    padding: 1% 2%;
    position: absolute;
    /* border: 1px solid blue; */
    bottom: 0px;
    right: 0px;
    font-family: sans-serif;
    font-size: 0.7rem;
    background-color: white;
    color: rgb(56, 54, 54);
    font-weight: 700;
}
.bottom-content-inner-box{
    /* border: 1px solid black; */
    margin: 3%;
}
.click-container{
    text-decoration: none;
}
.product-name{
    font-family: sans-serif;
    font-size: 0.78rem;
    letter-spacing: 2%;
    color: grey;
    letter-spacing: 1px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price-container {
    /* border: 1px solid black; */
    padding: 10px 0px;
}
.actual-price{
    color: black;
    font-size: 1.2rem;
    display: inline;
}
.actual-price .main-price {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}
.actual-price i{
    font-size: 1rem;
}

.strike-through-price {
    display: inline;
}
.strike-through-price i {
    text-decoration-line: line-through;
    font-size: 0.8rem;
    font-weight: 400;
    color: grey;  
}
.strike-through-price i .price{
    font-family: sans-serif;
}
.price-discount {
    font-family: sans-serif;
    font-size: 0.8rem;
    color: green;
    font-weight: 800;
    letter-spacing: 2%;
    display: inline;
}
.tag {
    font-family: sans-serif;
    /* border: 1px solid black; */
    border-radius: 10px;
    font-size: 0.7rem;
    background-color: rgb(248, 248, 255);
    color: rgb(97, 97, 115);
    font-weight: bold;
    padding: 1%;
    display: inline;
}

.ratings-container {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.ratings-container .rating {
    background-color: rgb(35, 187, 117);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    border-radius: 10px;
    padding: 0px 5px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 5px;

}
.ratings-container .rating span{
    margin-right: 3px;
}

.ratings-container .rating i {
    font-size: 0.5rem;
}

.ratings-container .reviews {
    color: rgb(139, 139, 163);
    font-size: 0.65rem;
    font-weight: bold;
}
.main-price-suffix{
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: grey; 
}
.sort-by-box{
    border: 1px solid rgb(216, 212, 212);
    padding: 3.5%;
    color:rgb(158, 156, 156);
    font-size: 0.8rem;
    border-radius: 5px;
    padding-left: 7%;
}
.sort-by-box span{
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}
.filters-div{
    border: 1px solid rgb(216, 212, 212);
    padding: 1%;
    margin-top: 15px;
    border-radius: 5px;
}
.filters-inner-div{
    /* border: 1px solid red; */
    margin: 5%;
}
.filters{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.filters span{
    color: rgb(158, 156, 156);
    font-size: 0.65rem;
    font-weight: 600;
    
}
.horizontal-line{
    margin-top: 15px;
    margin-bottom: 15px;
}
.category-box a{
    letter-spacing: 1px;    
    font-weight: 600;
    font-size: 0.93rem;
    text-decoration: none;
    color: black;
}
.search-box{
    border: 1px solid rgb(216, 212, 212);
    /* padding: 5%; */
    display: flex;
    margin-top: 5%;
    border-radius: 5px;
}
.search-box-L{
    color: rgb(165, 162, 162);
    padding: 3.5%;
}
.search-input{
    font-size: 0.7rem;
    font-weight: 300;
    width: 100%;
}
.category-search{
    /* border: 1px solid black; */
    margin-top: 3px;
    
    /* letter-spacing: 20%; */
    /* display: flex; */
    /* flex-direction: column; */
}
.category-search-option{
    font-size: 0.75rem;
    color: rgb(97, 97, 115);
    letter-spacing: 1px;
    padding: 12px 5px;
}
.show-more{
    /* border: 1px solid black; */
    color: rgb(159, 32, 137);
    font-size: 0.75rem;
    font-weight: 600;
    padding-left: 7%;
    margin: 3%;
    padding-bottom: 10px;
}
.selection a{
    text-decoration: none;
    
}
.selection-boxes{
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    margin: 20px 0px;
}
.contact-career-box{
    background-color: rgb(248, 248, 255);
    /* padding: 5%; */
    margin-top: 40px;
    border: 1px solid black;
}
.contact-career-inner-box{
    margin: 4%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
}
.shop-non-stop-box{
    width: 30%;
    padding: 0px 0px 50px 0px;
}
.shop-non-stop-div1{
    font-size: 1.5rem;
    color: rgb(54, 53, 53);
    letter-spacing: 1px;
}
.shop-non-stop-div2{
    padding: 20px 0px 30px 0px;
}
.shop-non-stop-div2-T{
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: rgb(102, 101, 101);
}
.shop-non-stop-div2-B{
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: rgb(102, 101, 101);
    display: flex;
}
.shop-non-stop-div2-B hr{
    margin-left: 8px;
    margin-right: 8px;
}
.shop-non-stop-div3{
    display: flex;
}
.shop-non-stop-div3 .button-div img{
    width: 98%;
    height: 2.5rem;
}
.careers{
    display: flex;
    font-size: 0.9rem;
    color: rgb(94, 93, 93);
    font-weight: 600;
    letter-spacing: 1px;
}
.career-L{
    width: 40%;
    padding-left: 20px;


}
.career-R{
    width: 60%;
    padding-left: 10px;
    
}
.careers ul li{
    list-style: none;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 17px;
}

.footer-info-container {
    margin: 4%;
    border: 1px solid rgb(206, 206, 222);
    padding: 18px 24px;
    background-color: white;
    border-radius: 10px;
}


.footer-info-container h3 {
    color: rgb(53, 53, 67);
    font-size: 1rem;
}

.footer-info {
    margin-bottom: 30px;
}

.footer-info p {
    color: rgb(97, 97, 115);
    font-size: 0.75rem;
    letter-spacing: 1px;
    padding-top: 10px;
}
.contact-us-box1{
    border: 1px solid black;
    

}